@font-face{
    font-family: "Ubuntu Mono";
    src: url("../assets/font/UbuntuMono-Regular.ttf") format('truetype');
}
@font-face{
    font-family: "Ubuntu";
    src: url("../assets/font/Ubuntu-Regular.ttf") format('truetype');
}

*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

button{
    border: 0;
}

body{
    margin: 0 auto;
}

p, h1, h2, button, a {
    font-family: Ubuntu,'Courier New', Courier, monospace;
}

header{
    background-image: url("../assets/img/hero-bg-original.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;

}

.container .unect-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 85px -6px;
}

.container .unect-icon p{
    font-size: 16px;
    font-color: #111111;
    opacity: 50%;
    font-family: "Ubuntu Mono";
    font-weight: 400;
}

.container .unect-icon img{
    height: 54;
}

.container .unect-icon *{
    padding: 7px;
}

.container .header-inscricoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .header-inscricoes .inscricoes-info h1{
    font-size: 34px;
    line-height: 48px;
    margin: 0 0 10px 0;
}

.container .header-inscricoes .inscricoes-info p{
    font-size: 20px;
    line-height: 22.98px;
    font-style: bold;

    color: rgba(17, 17, 17, 0.5);
}

.container .header-inscricoes .redes-sociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .header-inscricoes .redes-sociais img{
    margin: 0 0 10px 0;
}

.container .header-inscreva{
    margin: 35px 0 100px -3px;
}

.container .header-inscreva button{
    background-color: #226ED8;
    border-radius: 25px;
    height: 45px;
    width: 137px;

    font-size: 18px;
    color: #F6F7F9;
}

.container .header-inscreva a{
    font-size: 18px;
    color: #226ED8;
    text-decoration: none;
    margin-left: 20px;
}

/* Sobre */

.sobre{
    display: flex;
    display: row;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: stretch;
}



.sobre .sobre-info h2{
    font-size: 30px;
    margin: 80px 0 32px 0;
}

.sobre .sobre-info .sobre-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.sobre .sobre-info .sobre-content p{
    border-radius: 0 7px 7px 0px ;
    align-items: stretch;
    font-size: 16px;
    line-height: 25px;
    background-color: #F2F3F4;
    max-width: 500px;
    padding: 40px;
}
.sobre .sobre-info .sobre-content img{
    width: 347px;
}
.sobre  .interrogacao{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.sobre  .interrogacao img{
    width: 50px;
    height: 50px;
    margin-top: 100px;
}
